<h1>About Us</h1>
<p>My Dish Discovery Database:</p>
<p>We are using two different data source to populate, one is using Faker to populate 
    RecipeDetail's attributes, Author's name, and the Tag's name. <br>
    The other data source is from a csv called recipes.csv which populates the rest of the data.
    <br><br>
    The dataset consists of information related to recipes, including categories, individual recipes 
    with their details, ingredients, authors, and tags. <br>These datasets are interconnected through relationships 
    to provide a comprehensive view of recipe data, enabling the categorization, composition, and attribution of recipes.
</p>
<%= image_tag('Database.drawio.png') %>