<div id="<%= dom_id recipe_author %>">
  <p>
    <strong>Recipe:</strong>
    <%= recipe_author.recipe_id %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= recipe_author.author_id %>
  </p>

</div>
