<h1>Editing recipe author</h1>

<%= render "form", recipe_author: @recipe_author %>

<br>

<div>
  <%= link_to "Show this recipe author", @recipe_author %> |
  <%= link_to "Back to recipe authors", recipe_authors_path %>
</div>
