<h1>Editing recipe detail</h1>

<%= render "form", recipe_detail: @recipe_detail %>

<br>

<div>
  <%= link_to "Show this recipe detail", @recipe_detail %> |
  <%= link_to "Back to recipe details", recipe_details_path %>
</div>
